<?xml version="1.0" encoding="UTF-8"?>
<module id="1772877" version="2015111600">
  <modulename>page</modulename>
  <sectionid>791977</sectionid>
  <sectionnumber>5</sectionnumber>
  <idnumber></idnumber>
  <added>1476983989</added>
  <score>0</score>
  <indent>0</indent>
  <visible>0</visible>
  <visibleold>0</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>0</showdescription>
</module>